<nav class="navbar-board">
    <div class="row">
        <div class="col-6">
            <div class="wrap-item wrap-item-left">
                <div class="item first-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-heart-fill" viewBox="0 0 16 16">
                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                    <span>
                        ThinhNguyenDev MERN Stack
                    </span> 
                </div>
                <div class="border-right"> 
                    <span>
                        |
                    </span> 
                </div>
                <div class="item"> 
                    <span>
                        Private Workspace
                    </span> 
                </div>
                <div class="border-right"> 
                    <span>
                        |
                    </span> 
                </div>
                <div class="members">
                    <img class="member fist " src="./assets/images/avartar.jpg" alt="thinhnguyendev dev" /> 
                    <img class="member " src="./assets/images/member-1.png" alt="thinhnguyendev dev" /> 
                    <img class="member " src="./assets/images/member-2.png" alt="thinhnguyendev dev" /> 
                    <img class="member " src="./assets/images/member-3.png" alt="thinhnguyendev dev" />
                </div>
                <div class="members ">
                    <span class="member plus-user" >
                        +7
                    </span>
                </div>
                <div class="item"> 
                    <span>
                        Invite
                    </span> 
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="wrap-item wrap-item-fight">
                <div class="item"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                    <span>
                        Show menu
                    </span> 
                </div>
            </div>
        </div>
    </div>
</nav>