<div class="board-content" [ngClass]="{'loading':isLoading}">
  <smooth-dnd-container
    [orientation]="'horizontal'"
    (drop)="onColumnDrop($event)"
    [dragHandleSelector]="'.column-drag-handle'"
  >
    <smooth-dnd-draggable *ngFor="let column of board.columns">
      <app-column
        [column]="column"
        (handleDropCard)="handleDropCard($event)"
        (handleColumn)="handleColumn($event)"
      ></app-column>
    </smooth-dnd-draggable>
  </smooth-dnd-container>

  <div class="trello-clone-container container">
    <div class="row">
      <div class="add-new-column col"  *ngIf="!isNewColumnForm" (click)="toggleOpentNewColumnForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        Add another column
      </div>
      <div class="enter-new-column col" *ngIf="isNewColumnForm">
        <input
          type="text"
          placeholder="Enter column title..."
          class="input-enter-new-column form-control form-control-sm"
          [(ngModel)]="newTitleCoulmn"
        />
        <button class="btn btn-success btn-sm" (click)="onAddColumn()">Add column</button>
        <span class="cancle-icon" (click)="toggleOpentNewColumnForm()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <!-- Handle loading when call Api -->
  <div class="overlay">
    <div class="wrap-loading">
      <img src="assets/images/loading.gif" alt="loading datas...">
      <p>Vui lòng đợi trong giây lát...</p>
    </div>
  </div>
</div>
